<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<table>
    <tr class="header">
        <td>Album</td>
        <td>Year</td>
        <td>Artist</td>
        <td>Genre</td>
    </tr>
    <tr th:each="album : ${albums}">
        <td th:text="${album.album}">album</td>
        <td th:text="${album.year}">year</td>
        <td th:text="${album.artist}">artist</td>
        <td th:text="${album.genre}">genre</td>
    </tr>
</table>
</body>
</html>