<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Title</title>
</head>
<body>

<form class="form-horizontal" th:object="${track}" th:action="@{/track}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{trackId}"/>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>