<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<p>Click <a th:href="@{/uploadForm}">here</a> to upload file.</p>
<!--<p>Click <a th:href="@{'/albums/' + ${#httpServletRequest.remoteUser}}">here</a> to see playlist.</p>-->
<p>Click <a th:href="@{/albums(username=${#httpServletRequest.remoteUser})}">here</a> to see playlist.</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>