<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post" class="btn pull-right">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Uploading</h3>
            <p>Click <a th:href="@{/uploadForm}">here</a> to upload file.</p>
        </div>
        <div class="col-sm-4">
            <h3>Albums</h3>
            <p>Click <a th:href="@{/albums(username=${#httpServletRequest.remoteUser})}">here</a> to see albums.</p>
        </div>
        <div class="col-sm-4">
            <h3>Playlists</h3>
            <p>Click <a th:href="@{/lists(username=${#httpServletRequest.remoteUser})}">here</a> to see playlists.</p>
        </div>
    </div>
</div>

</body>
</html>