<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<table>
    <tr class="header">
        <td>PlayList ID</td>
        <td>Name</td>
    </tr>
    <tr th:each="trackList : ${trackLists}">
        <td th:text="${trackList.playlistId}">PlayList ID</td>
        <td th:text="${trackList.playlistName}">Name</td>
        <td><p><a th:href="@{/listtracks(username=${#httpServletRequest.remoteUser}, playlistId=${trackList.playlistId})}">Tracks</a></p></td>
    </tr>
</table>
</body>
</html>