<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<table class="table table-striped">
    <tr class="header">
        <td>Track id</td>
        <td>Name</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr th:each="track : ${tracks}">
        <td th:text="${track.trackId}">Track Id</td>
        <td th:text="${track.name}">Name</td>
        <td><a th:href="@{'/tracks/edit/' + ${track.id}}" class="btn glyphicon glyphicon-edit">edit</a></td>
        <td><a th:href="@{'/tracks/delete/' + ${track.id}}" class="btn glyphicon glyphicon-trash">delete</a></td>
        <td><a th:href="@{'/tracks/' + ${track.id} + '/move/' + ${playlistId}}" class="btn glyphicon glyphicon-share">move</a></td>
    </tr>
</table>
</body>
</html>